/* basic styles for semantic and div */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 50px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: 4px solid #f4f4f4;
}

header h1 {
    float: left;
    margin-left: 20px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}   
