@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&display=swap');


body {
  background-color: #e8dbd3;
  font-family: 'Playpen Sans', cursive;
}

main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

nav {
  margin-bottom: 20px;
}

footer {
  margin-top: 10px;
}

header,
footer,
main {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #e87878;
  cursor: pointer;

}

#ingredients {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: darkkhaki;
}

.para {
  color: #75474a;
}

.titleStuff {
  color: crimson;
  text-align: center;
  font-size: 30px;
}

#intro img {
  width: 300px;
  border: 2px solid #75474a;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

p,
li {
  line-height: 2;
}

#backToTop {
  display: block;
  text-align: right;

}

nav a {
  display:  inline-block;
  padding: 10px;
  background-color: #75474a;
  color: white;
  border-radius: 5px;
}

header, nav, footer {
  text-align: center;
}